<!DOCTYPE html>
<%- include header_admin %>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- Latest compiled JavaScript -->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

	<style>
		body 		{ padding-top:80px; }
	</style>
	
	<script>
	  function addSuccess() {
	      alert("Add a new flight successful!");
	      window.location = '/homepage_admin';
	  }	
	  
	  function validateForm() {
	      var num = $("#flightNum").val();
	      if(var == null || var.length == 0) {
	          alert("Please enter flight number!");
	      }
	  }
	</script>
  </head>
  
  <body>
  <center>
  	<h2>Add New Flight</h2>
  	<h4>Please fill out the blank.</h4>	
  </center>
  
  <div class="col-sm-6 col-sm-offset-3">
  <form action="/addFlight" method="post" onsubmit="return validateForm();">
  	<div class="form-group">
    	<label for="flightNum">Flight Number</label>
    	<input type="flightNum" class="form-control" id="flightNum" name="flightNum" placeholder="Flight Number">
 	</div>
  	<div class="form-group">
    	<label for="scity">Flying From</label>
    	<input type="scity" class="form-control" id="scity" name="scity" placeholder="Flying From">
  	</div>
  	<div class="form-group">
    	<label for="ecity">Flying To</label>
    	<input type="ecity" class="form-control" id="ecity" name="ecity" placeholder="Flying To">
  	</div>
  	<div class="form-group">
    	<label for="stime">Departing</label>
    	<input type="stime" class="form-control" id="stime" name="stime" placeholder="Departing 2015-01-01 23:59:59">
  	</div>
  	<div class="form-group">
    	<label for="etime">Arriving</label>
    	<input type="etime" class="form-control" id="etime" name="etime" placeholder="Arriving 2015-01-01 23:59:59">
  	</div>
  	<div class="form-group">
    	<label for="model">Flight Model</label>
    	<input type="model" class="form-control" id="model" name="model" placeholder="Flight Model">
  	</div>
  	<div class="form-group">
    	<label for="company">Flight Company</label>
    	<input type="company" class="form-control" id="company" name="company" placeholder="Flight Company">
  	</div>
  	<div class="form-group">
    	<label for="eseats">Economy Seats</label>
    	<input type="eseats" class="form-control" id="eseats" name="eseats" placeholder="Economy Seats">
  	</div>
  	<div class="form-group">
    	<label for="bseats">Business Seats</label>
    	<input type="bseats" class="form-control" id="bseats" name="bseats" placeholder="Business Seats">
  	</div>
  	<div class="form-group">
    	<label for="fseats">First Seats</label>
    	<input type="fseats" class="form-control" id="fseats" name="fseats" placeholder="First Seats">
  	</div>
  	<div class="form-group">
    	<label for="eprice">Economy Price ($)</label>
    	<input type="eprice" class="form-control" id="eprice" name="eprice" placeholder="Economy Price">
  	</div>
  	<div class="form-group">
    	<label for="bprice">Business Price ($)</label>
    	<input type="bprice" class="form-control" id="bprice" name="bprice" placeholder="Business Price">
  	</div>
  	<div class="form-group">
    	<label for="fprice">First Price ($)</label>
    	<input type="fprice" class="form-control" id="fprice" name="fprice" placeholder="First Price">
  	</div>
  	
  	<center>
	  	<div class="btn-group">
                <button type="submit" class="btn btn-primary">Add!</button>
                <a href="/toAdminHomepage" class="btn btn-primary" type="submit" name = "Cancel" value = "Cancel">Cancel</a>
                </div>
	  	</center>
  </form>
  </div>
  </body>
</html>