
<link href="/bootstrap.css" rel="stylesheet">

<form action="/search" method="POST">
<fieldset><legend contenteditable="true">Search Flight</legend>

<p><strong>Departure City&nbsp;</strong>&nbsp; &nbsp;&nbsp;<input name="DepCity" placeholder="Type something…" type="text" /></p>

<p><strong>Arrival City</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input name= "ArriCity" placeholder="Type something…" type="text" /></p>

<p><b>Departure Time From</b> &nbsp;&nbsp;<input name= "DepTimel" placeholder="Type something…" type="text" /></p>

<p><b>Departure Time To</b> &nbsp;&nbsp;<input name= "DepTimeh" placeholder="Type something…" type="text" /></p>

<p>&nbsp;</p>

<p><button class="btn" contenteditable="true" type="submit">Search</button></p>
</fieldset>
</form>
